<!-- Alpine js -->
<script src="{{ url_for('static', filename='js/system/alpine-collaspe.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/system/alpine-persist.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/system/alpine.min.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/system/show_alert.js') }}"></script>
<script src="{{ url_for('static', filename='js/system/funciones_generales.js') }}"></script>

<!-- Custom js -->
<script src="{{ url_for('static', filename='js/system/custom.js') }}"></script>